.*
*.py[co]
!.gitignore
!.travis.yml
*.rdb
bootstrap-buildout.py
ez_setup.py
conf/*.conf
!conf/*_sample.conf
doodle/config/development.py
doodle/config/production.py
doodle/config/test.py
bin/
data/
develop-eggs/
downloads/
eggs/
parts/
private/
*.egg-info/
