.*
*.py[co]
!.gitignore
!.travis.yml
*.rdb
pip-selfcheck.json
conf/*.conf
!conf/*_sample.conf
doodle/config/development.py
doodle/config/production.py
doodle/config/test.py
bin/
data/
develop-eggs/
eggs/
include/
lib/
parts/
*.egg-info/
