.*
*.py[co]
!.gitignore
!.travis.yml
lib/
bin/
include/
share/
pip-selfcheck.json
*.rdb
conf/*.conf
!conf/*_sample.conf
doodle/config/development.py
doodle/config/production.py
doodle/config/test.py
data/
private/
