<?py
from doodle.common.time_format import convert_to_local_time, timestamp_to_datetime
from doodle.common.url import quoted_string

include('web/header.html')

article_id = article.id
dt = convert_to_local_time(timestamp_to_datetime(article.pub_time))
category_name = article.category_name()
if category_name:
	category_template = '<a href="' + CONFIG.BLOG_HOME_RELATIVE_PATH + 'category/%s">%s</a>'
	category_link = category_template % (quoted_string(category_name), escape(category_name))
else:
	category_link = '无'
#endif

tags = article.tags
if tags:
	tag_template = '<a href="' + CONFIG.BLOG_HOME_RELATIVE_PATH + 'tag/%s">%s</a>'
	tags_link = ', '.join([tag_template % (quoted_string(tag), escape(tag)) for tag in tags])
else:
	tags_link = '无'
#endif
?>
<section id="content">
	<section class="post">
		<article>
			<h2 class="post-title"><a href="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}#{article.quoted_url()}">${article.title}</a></h2>
			<div class="post-date"><span class="year">#{dt.year}</span> <span class="month">#{dt.month}</span> <span class="day">#{dt.day}</span> <span class="time">#{dt.strftime('%I:%M %p')}</span> <span class="postcomment">#{hits}次查看</span></div>
			<p class="post-data"><span class="postcategory">分类：#{category_link}</span> <span>标签：#{tags_link}</span></p>
			<section class="article-content">
				#{article.html_content()}
			</section>
		</article>
<?py if previous_article or next_article: ?>
		<p class="post-nav">
<?py 	if previous_article: ?>
			<span class="previous"><a href="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}#{previous_article.quoted_url()}" title="${previous_article.title}" rel="prev"><span>«</span> <span>${previous_article.title}</span></a></span>
<?py
	#endif
	if next_article:
?>
			<span class="next"><a href="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}#{next_article.quoted_url()}" title="${next_article.title}" rel="next"><span>${next_article.title}</span> <span>»</span></a></span>
<?py 	#endif ?>
		</p>
<?py #endif ?>
		<section id="comments_section">
			<h4 id="comments">#{replies}条评论 <a href="#respond">你不来一发么↓</a>
<?py if replies: ?>
				<span id="comment-order-asc" class="selected">顺序排列</span> <span id="comment-order-desc">倒序排列</span>
<?py #endif ?>
			</h4>
		</section>
		<section id="commentlist">
			<ol class="commentlist"></ol>
<?py if replies: ?>
			<p id="more-hint">向下滚动可载入更多评论，或者点这里<a href="javascript:;">禁止自动加载</a>。</p>
			<noscript>
				<div class="comment-nav">
					<span class="next"><a href="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}comment/#{article_id}/">查看评论</a></span>
				</div>
			</noscript>
<?py #endif ?>
		</section>
		<section id="respond">
			<h4>想说点什么呢？</h4>
		</section>
	</section>
</section>
<script>
var article_id = #{article_id};
var home_path = '#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}';
</script>
<?py
include('web/sidebar.html')
include('web/footer.html')
?>