<?py from doodle.common.time_format import formatted_time, get_local_now ?>
<footer id="footer">
<?py if page not in ('404', '500', 'profile'): ?>
	<p class="backtotop"><a href="#">▲Top</a></p>
<?py #endif ?>
	<p class="credits">©<a href="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}">${{CONFIG.BLOG_TITLE}}</a><span>•</span>Powered by <a href="https://github.com/keakon/Doodle">Doodle</a><span>•</span>Designed by <a href="//www.keakon.net">keakon</a></p>
</footer>
</div>
</div>
<!--[if lt IE 9]><div id="noie">妈妈说IE必须死！页面错乱是你活该～</div><![endif]-->
<?py if page not in ('404', '500'): ?>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/js/jquery-#{{CONFIG.JQUERY_VERSION}}.js"></script>
<?py 	if page != 'profile': ?>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/js/scroll#{{'' if CONFIG.DEBUG_MODE else '.min'}}.js"></script>
<?py 	#endif ?>
<?py #endif ?>
<?py if page == 'article': ?>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/js/highlight.js"></script>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/theme/null/js/comment#{{'' if CONFIG.DEBUG_MODE else '.min'}}.js"></script>
<?py elif page in ('home', 'tag_articles', 'category_articles', 'search'): ?>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/js/highlight.js"></script>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/theme/null/js/loadpage#{{'' if CONFIG.DEBUG_MODE else '.min'}}.js"></script>
<?py elif page == 'profile': ?>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/theme/null/js/msgbox#{{'' if CONFIG.DEBUG_MODE else '.min'}}.js"></script>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/theme/null/js/profile#{{'' if CONFIG.DEBUG_MODE else '.min'}}.js"></script>
<?py #endif ?>
<script>
var ga_id = '#{CONFIG.GOOGLE_ANALYTICS_ID}';
</script>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/theme/null/js/append#{{'' if CONFIG.DEBUG_MODE else '.min'}}.js"></script>
</body>
</html>