<?py from doodle.common.time_format import formatted_time, get_local_now ?>
<footer id="footer">
<?py if page not in ('404', '500', 'profile'): ?>
	<p class="backtotop"><a href="#">▲Top</a></p>
<?py #endif ?>
	<p class="credits">©<a href="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}">${{CONFIG.BLOG_TITLE}}</a><span>•</span>Powered by <a href="https://github.com/keakon/Doodle" rel="nofollow">Doodle</a><span>•</span>Designed by <a href="http://www.keakon.net/" rel="nofollow">keakon</a></p>
</footer>
</div>
</div>
<!--[if lt IE 9]><div id="noie">妈妈说IE必须死！页面错乱是你活该～</div><![endif]-->
<?py if page not in ('404', '500'): ?>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/js/jquery-#{{CONFIG.JQUERY_VERSION}}.js"></script>
<?py #endif ?>
<?py if page == 'article': ?>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/js/highlight.js"></script>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/theme/null/js/comment.js?3"></script>
<?py elif page in ('home', 'tag_articles', 'category_articles', 'search'): ?>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/js/highlight.js"></script>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/theme/null/js/loadpage.js?2"></script>
<?py elif page == 'profile': ?>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/theme/null/js/msgbox.js?2"></script>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/theme/null/js/profile.js?2"></script>
<?py #endif ?>
<?py if page not in ('404', '500', 'profile'): ?>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/js/scroll.js"></script>
<?py #endif ?>
<script>
var page = '#{page}';
var ga_id = '#{CONFIG.GOOGLE_ANALYTICS_ID}';
</script>
<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/theme/null/js/append.js?3"></script>
</body>
</html>