<section id="sidebar">
	<section id="google-search" class="widget">
		<h4>不给力？试试Google搜索↓</h4>
		<script>
			(function() {
				function execute() {
					google.search.cse.element.getElement('search').execute('#{keywords.replace("\\", r"\\").replace("'", r"\'")}');
				}
				window.__gcse = {
					callback: function() {
						if (document.readyState == 'complete') {
							execute();
						} else {
							google.setOnLoadCallback(execute, true);
						}
					}
				};
				var cx = '#{{CONFIG.GOOGLE_CSE_ID}}';
				var gcse = document.createElement('script');
				gcse.type = 'text/javascript';
				gcse.async = true;
				gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(gcse, s);
			})();
		</script>
		<gcse:search id="cse" gname="search"></gcse:search>
	</section>
</section>