<?py
from tenjin.html import checked

include('web/header.html')
user = self.current_user
?>
<section id="content" class="block">
	<form action="" method="post" id="profileform">
		<p>账号邮箱：#{user.email}</p>
		<p>头像（可在 <a href="http://www.gravatar.cn/">gravatar</a> 设置）：<img src="#{user.get_avatar()}?s=24&amp;d=monsterid" alt="avatar"/></p>
		<p>
			<label for="name">用户名<small>（必填）</small></label><br/>
			<input type="text" name="name" id="name" value="${user.name}" size="50" maxlength="15" tabindex="1"/>
		</p>
		<p>
			<label for="site">您的网站<small>（选填）</small></label><br/>
			<input type="text" name="site" id="site" value="${user.site}" placeholder="需以 http 开头" size="50" maxlength="100" tabindex="2"/>
		</p>
		<p><input name="submit" type="submit" id="submit" tabindex="3" value="我填完了"/></p>
	</form>
</section>
<?py include('web/footer.html') ?>