<?py
from doodle.common.content_format import tagattr

output_full_html = self.get_argument('section', None) != 'content'
if output_full_html:
	include('web/header.html')
#endif
?>
<section id="content"#{tagattr('class', not articles, 'block')}>
<?py
if articles:
	include('web/articles.html')
elif output_full_html:
?>
	<h2>囧，没有找到相关的文章…</h2>
	<p>试试更改搜索条件吧。</p>
<?py #endif ?>
</section>
<?py
if output_full_html:
	if CONFIG.GOOGLE_CSE_ID:
		include('web/google_search.html')
	#endif
	include('web/footer.html')
#endif
?>