<?py
from doodle.common.content_format import tagattr
from doodle.common.url import quoted_string

output_full_html = not self.is_content_only
if output_full_html:
	include('web/header.html')
#endif
?>
<section id="content"#{tagattr('class', not articles, 'block')}>
<?py
if articles:
	include('web/articles.html')
	if next_cursor:
?>
	<p class="post-nav"><span class="previous"><a href="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}tag/#{quoted_string(tag_name)}?cursor=#{next_cursor}">« 看看还有什么好玩意</a></span></p>
<?py
	#endif
elif output_full_html:
	if self.cursor:
?>
	<h2>囧，已经到最后一页了…</h2>
	<p>去看看其他的页面吧。</p>
<?py 	else: ?>
	<h2>囧，这家伙太懒了，啥也没写…</h2>
	<p>下次再来看看吧。</p>
<?py
	#endif
#endif
?>
</section>
<?py
if output_full_html:
	include('web/sidebar.html')
	include('web/footer.html')
#endif
?>