<!DOCTYPE html>
<html>
<head>
	<title>${title}</title>
	<meta name="referrer" content="origin">
	<link rel="stylesheet" href="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/theme/freshpress/css/style.css">
	<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/js/jquery-#{{CONFIG.JQUERY_VERSION}}.js"></script>
<?py if page == 'maintain': ?>
	<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/theme/freshpress/js/maintain.js"></script>
<?py elif page == 'calendar_token': ?>
	<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/theme/freshpress/js/token.js"></script>
<?py elif page not in ('search_user', 'twitter_oauth', 'twitter_callback', 'import'): ?>
	<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/theme/freshpress/js/submit.js"></script>
<?py 	if page == 'twitter_status': ?>
	<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/theme/freshpress/js/twitter.js"></script>
<?py 	elif page in ('create_article', 'edit_article', 'edit_comment'): ?>
	<link rel="stylesheet" href="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/markitup/skins/simple/style.css">
	<link rel="stylesheet" href="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/markitup/sets/html/style.css">
	<link rel="stylesheet" href="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/markitup/sets/bbcode/admin_style.css">
	<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/markitup/jquery.markitup.js"></script>
	<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/markitup/sets/bbcode/admin_set.js"></script>
	<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/markitup/sets/html/set.js"></script>
	<script src="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}static/js/markitup.js"></script>
<?py
	#endif
#endif
?>
</head>
<body>
<header>
	<hgroup>
		<h1><a href="#{{CONFIG.BLOG_HOME_RELATIVE_PATH}}">${{CONFIG.BLOG_TITLE}}</a></h1>
		<h2>${{CONFIG.BLOG_SUB_TITLE}}</h2>
	</hgroup>
</header>
<nav id="nav">
	<ul>
		<li class="page_item#{' current' if page in ('new_article', 'del_article', 'unpublished_article') else ''}"><a href="#{{CONFIG.BLOG_ADMIN_RELATIVE_PATH}}article/new">文章</a></li>
		<li class="page_item#{' current' if page in ('new_category', 'del_category', 'move_category') else ''}"><a href="#{{CONFIG.BLOG_ADMIN_RELATIVE_PATH}}category/new">分类</a></li>
		<li class="page_item#{' current' if page in ('new_tag', 'del_tag', 'move_tag') else ''}"><a href="#{{CONFIG.BLOG_ADMIN_RELATIVE_PATH}}tag/new">标签</a></li>
		<li class="page_item#{' current' if page in ('search_user', 'edit_user') else ''}"><a href="#{{CONFIG.BLOG_ADMIN_RELATIVE_PATH}}user/search">用户</a></li>
		<li class="page_item#{' current' if page == 'maintain' else ''}"><a href="#{{CONFIG.BLOG_ADMIN_RELATIVE_PATH}}maintain">维护</a></li>
		<li class="page_item#{' current' if page == 'import' else ''}"><a href="#{{CONFIG.BLOG_ADMIN_RELATIVE_PATH}}import">备份</a></li>
		<li class="page_item#{' current' if page == 'calendar_token' else ''}"><a href="#{{CONFIG.BLOG_ADMIN_RELATIVE_PATH}}calendar_token">短信提醒</a></li>
		<li class="page_item#{' current' if page == 'subscribe' else ''}"><a href="#{{CONFIG.BLOG_ADMIN_RELATIVE_PATH}}subscribe">PubSubHubbub</a></li>
		<li class="page_item#{' current' if page == 'xml_rpc' else ''}"><a href="#{{CONFIG.BLOG_ADMIN_RELATIVE_PATH}}xml_rpc">XML-RPC服务</a></li>
		<li class="page_item#{' current' if page[:7] == 'twitter' else ''}"><a href="#{{CONFIG.BLOG_ADMIN_RELATIVE_PATH}}twitter/status">Twitter</a></li>
	</ul>
</nav>